footer {
  background: #6131df;
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  line-height: 1.5px;
}

.footer__logo {
  font-weight: bold;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  display: inline-block;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.footer__socials a {
  background: #1f1f38;
  color: #fff;
  border-radius: 0.7rem;
  display: flex;
  padding: 7px;
  border: 1px solid transparent;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
}

.footer__socials a:hover {
  background: transparent;
  color: #1f1f38;
  border-color: #1f1f38;
}

.footer__copyright {
  margin-bottom: 4rem;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer__socials {
    margin-bottom: 2.6rem;
  }
}
